openapi: 3.1.0
info:
  title: AgentPermit API
  version: 3.0.0
  description: Multi-tenant policy, approval, execution and receipt API for autonomous agents.
servers:
  - url: https://api.agentpermit.com
security:
  - bearerAuth: []
paths:
  /api/v1/auth/register:
    post:
      security: []
      summary: Register an organization owner
      responses: { '201': { description: Tenant created } }
  /api/v1/auth/login:
    post:
      security: []
      summary: Create a user session
      responses: { '200': { description: Authenticated } }
  /api/v1/me:
    get:
      summary: Current identity and workspaces
      responses: { '200': { description: Current user } }
  /api/v1/api-keys:
    post:
      summary: Create a workspace API key
      responses: { '201': { description: API key returned once } }
  /api/v1/usage:
    get:
      summary: Current billing-period usage
      responses: { '200': { description: Usage counters } }
  /api/v1/billing/plans:
    get:
      security: []
      summary: List SaaS plans
      responses: { '200': { description: Plans } }
  /api/v1/billing/checkout:
    post:
      summary: Create a Stripe Checkout session
      responses: { '201': { description: Checkout session } }
  /api/v1/webhooks:
    post:
      summary: Register a signed webhook endpoint
      responses: { '201': { description: Webhook registered } }
  /api/v1/audit:
    get:
      summary: Read and verify the workspace audit chain
      responses: { '200': { description: Audit events } }
  /api/actions/authorize:
    post:
      summary: Authorize and optionally execute an agent action
      responses: { '200': { description: Decision and signed receipt } }
  /api/permits:
    get: { summary: List permits, responses: { '200': { description: Permits } } }
    post: { summary: Issue a permit, responses: { '201': { description: Permit issued } } }
  /api/approvals:
    get: { summary: List approval requests, responses: { '200': { description: Approvals } } }
  /api/security/scan:
    post: { summary: Scan content for prompt injection, responses: { '200': { description: Risk result } } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: User session or workspace API key
